package pkg1softwareestudiante;
import java.util.Scanner;
public class Main {
    public static void main(String[] args) {
        Estudiante estudiante= new Estudiante("Luis Antonio","Matias","Rivera","Licenciatura en informatica",8210003,9.2);
        System.out.println("Datos del objeto estudiante");
        System.out.println(estudiante.getLicenciatura());
        System.out.println("");
        
        Estudiante estudiante01 = new Estudiante("Jose","Martinez","Lopez");
        System.out.println("Datos del objeto estudiante01");
        System.out.println(estudiante01.getLicenciatura());
        System.out.println("");
        
        Estudiante estudiante02 = new Estudiante();
        estudiante02.setNombre("Ricardo");
        estudiante02.setPaterno("Gonzales");
        estudiante02.setMaterno("Hernandez");
        estudiante02.setLicenciatura("Licenciatura en Nutricion");
        estudiante02.setMatricula(22352235);
        estudiante02.setPromedio((float) 8.8);
        System.out.println("Datos del objeto estudiante02");
        System.out.println(estudiante02.getNombre());
        System.out.println(estudiante02.getPaterno());
        System.out.println(estudiante02.getMaterno());
        System.out.println(estudiante02.getLicenciatura());
        System.out.println(estudiante02.getMatricula());
        System.out.println(estudiante02.getPromedio());
        System.out.println("");
        
 Scanner x= new Scanner(System.in);
        String nombre,paterno,materno,licenciatura;
        int matricula;
        float promedio;
        
        Estudiante estudiante03 = new Estudiante();
        System.out.println("Dame el nombre del estudiante: ");
        nombre = x.nextLine();
        estudiante03.setNombre(nombre);
        
        System.out.println("Dame el apellido paterno del estudiante: ");
        paterno = x.nextLine();
        estudiante03.setPaterno(paterno);
        
        System.out.println("Dame el apellido materno del estudiante: ");
        materno = x.nextLine();
        estudiante03.setMaterno(materno);
        
        System.out.println("Dame la licenciatura del estudiante: ");
        licenciatura = x.nextLine();
        estudiante03.setLicenciatura(licenciatura);
        
        System.out.println("Dame la matricula del estudiante:");
        matricula = x.nextInt();
        estudiante03.setMatricula(matricula);
        
        System.out.println("Dame el promedio del estudiante:");
         promedio = x.nextFloat();
        estudiante03.setPromedio(promedio);
  System.out.println("Datos del objeto estudiante03");
        System.out.println(estudiante03.getNombre());
        System.out.println(estudiante03.getPaterno());
        System.out.println(estudiante03.getMaterno());
        System.out.println(estudiante03.getLicenciatura());
        System.out.println(estudiante03.getMatricula());
        System.out.println(estudiante03.getPromedio());
        System.out.println("");
        
        
        Estudiante estudiante04 = new Estudiante();
        System.out.println("Datos del objeto estudiante04");
        estudiante04.setNombre("");
        estudiante04.setPromedio(30);
        System.out.println("");
        
        Estudiante estudiante05 = new Estudiante();
        System.out.println("Datos del objeto estudiante05");
        estudiante05.setNombre("");
        estudiante05.setPaterno("");
        System.out.println(""); 
        
        System.out.println("Datos del objeto estudiante06");
        Estudiante estudiante06 = new Estudiante("","Matias","","Informatica",8210003,9.2);
        estudiante06.setNombre("");
        estudiante06.setPaterno("");
        estudiante06.setMaterno("");
        estudiante06.setPromedio(100);
        System.out.println("");
    }
}
